@import '../../App.scss';
.details {    
    padding:30px;
    background:black;
    color:lightgrey;
    .title {
        font-weight:700;
        text-align: center;
        font-size: 60px;
        border-left: 10px solid $highlight-color;
        padding: 10px 20px;
        margin-bottom: 50px;
    }

    .info {
        margin-top:50px;
        padding-left:10px;
    }
    h3 {
        margin: 10px 0px;
        font-size: 20px;
        color: lightgrey;
        span{
            font-weight:700;
            padding:3px;
            margin:10px 0px;
            color: $highlight-color;
        }
    }

     @media screen and (min-width: 700px) { 
        width:100%;
    }
}


.stocks {
        padding-left:10px;
        padding: 50px;
        max-height:500px;
        overflow:scroll;
        p {
            font-size: 20px;
            font-weight:700;
            text-align:center;
            margin-top:30px;
        }
        .priceDetail {
            max-width:400px;
            display:flex;
            justify-content: space-around;
            margin: 10px auto;
            padding: 10px 30px;
            border-radius:5px;
            background: $highlight-color;
            @media screen and (max-width: 699px) { 
                flex-direction: column;
            }
        }
         @media screen and (min-width: 700px) { 
            width:100%;
    }
    }

.flex {
    display:block;
    @media screen and (min-width: 700px) { 
        display:flex;
    }
}

.deleteButton {
    background: #b70101;
    border-radius:5px;
    font-size:15px;
    border:none;
    padding: 10px 20px;
    color: white;
    margin:30px auto;
}

.stockButton {
    background: $highlight-color;
    border-radius:5px;
    font-size:15px;
    border:none;
    padding: 10px 20px;
    color: white;
    margin:30px auto;
    margin: 10px;
}

.datePicker{
    display:flex;
    justify-content:center;
}